<div class="card -mt-2" style="border-radius: 20px;">
  <div class="grid p-fluid -mt-3 -mb-3">
    <div class="col-12">
      <h5>Componente Nieto Dividir</h5>
    </div>
  </div>
  <div class="grid p-fluid">
    <div class="col-6">
      <label for="">valor Recibido (del Hijo)</label>
      <input type="number" pInputText #numeroUnoIn="ngModel" [(ngModel)]="productoInput" required (keyup)="actualizarValorHijo()">
    </div>
    <div class="col-6">
      <label for="">dividir por</label>
      <input type="number" pInputText #numeroDosIn="ngModel" [(ngModel)]="dividirPor" required>
    </div>
    <div class="col-12">
      <label for="">Cociente</label>
      <input type="number" pInputText #sumaIn="ngModel" [(ngModel)]="cociente" disabled>
    </div>
    <div class="col-12">
      <button pButton label="Multiplicar" (click)="realizarDivision()"></button>
    </div>
    <div class="col-12">
      <label for="">Edad</label>
      <input type="number" pInputText #edadIn="ngModel" [(ngModel)]="edadNietoInput" (keyup)="actualizarValorEdad()" required>
    </div>
  </div>
</div>